body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #333;
    color: #fff;
}

select,
input {
    background-color: #444;
    color: #fff;
    padding: 0.3rem;
    cursor: pointer;
    border: 1px solid #777;
}

input:focus,
button:focus,
select:focus {
    /* outline: none; */
    outline-offset: 2px;
    outline-width: 2px;
    outline-color: rgba(255, 0, 0, 0.5);
    outline-style: solid;
}

button {
    border: none;
    background-color: #444;
    color: #fff;
    padding: 0.3rem;
    cursor: pointer;
}

.input-group {
    margin-block: 1rem;
    background-color: #444;
    padding: 0.2rem;
    display: flex;
    gap: 0.3rem;
}
.col {
    flex-direction: column;
}

.toasts {
    position: absolute;
    pointer-events: none;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.toasts > div {
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: #005204;
    color: #fff;
    opacity: 0;
    animation: fadeIn 1000 ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
