.byt {
    height: 100%;
}
.byt svg {
    height: 100%;
    width: 100%;
}

.byt-menu {
    position: absolute;
    background-color: rgba(28, 28, 28, 0.9);
    color: #fff;
    padding: 0.5rem;
    border-radius: 2px;
    font-size: 1.2rem;
}
